.main {
    height: 100vh;
    width: 100vw;
    background-color: #d9dcdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    border-radius: 50;
    position: relative;
}

p {
    text-align: justify;
}

#pic {
    display: flex;
    flex-direction: column;
    align-self: center;
}